html,
body {
  background-color: #222;
  color: #eee;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.scrollBox {
  overflow-y: auto;
}
